body {
   height: 100vh;
   margin: 0;
   padding: 0;

   font-family: sans-serif;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   overflow: hidden;
   background: no-repeat center/100% url("./images/1.jpg");
}

h2 {
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 4px;
   font-size: 14px;
   color: white;
}

.clock {
   display: flex;
}

.clock div {
   margin: 5px;
}

.clock span {
   width: 100px;
   height: 80px;

   font-size: 50px;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
   color: white;

   display: flex;
   justify-content: center;
   align-items: center;

   opacity: .8;
   background: slateblue;
}

.clock .text {
   height: 30px;

   font-size: 10px;
   text-transform: uppercase;
   letter-spacing: 2px;

   background: darkblue;
}
